{minimum_otp_vsn, "20.0"}.

{erl_opts, [debug_info,
           {parse_transform, lager_transform}
]}.

{src_dirs, ["src", "priv/bert.erl/src"]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git",   {tag, "2.5.0"}}},
        {lager,  {git, "git://github.com/erlang-lager/lager.git", {tag, "3.6.7"}}}
       ]
}.

{relx, [{release, { chat, "0.0.1" },
         [sasl,
          cowboy,
          lager,
          chat]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_src, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_run]}.