{minimum_otp_vsn, "19.2.1"}.

{erl_opts, [debug_info,
           {parse_transform, lager_transform}
]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git",   {tag,    "2.6.1"}}},
        {cowlib, {git, "git://github.com/ninenines/cowlib.git",   {tag,    "2.7.0"}}},
        {ranch,  {git, "git://github.com/ninenines/ranch.git",    {tag,    "1.7.1"}}},
        {lager,  {git, "git://github.com/erlang-lager/lager.git", {tag,    "3.6.8"}}},
        {jiffy,  {git, "git://github.com/davisp/jiffy.git",       {tag,    "0.15.2"}}},
        {bert,   {git, "git://github.com/stleon/bert.erl.git",    {branch, "master"}}},
        {sync,   {git, "git://github.com/rustyio/sync.git",       {branch, "master"}}}
       ]
}.

{relx, [
        {default_release, {dev, "0.0.1"}},

        {release, {dev, "0.0.1"}, [
                sasl,
                {mnesia, load},
                cowboy,
                lager,
                inets,
                jiffy,
                chat,
                sync,
                observer,
                wx
        ]},

        {release, { chat, "0.0.1" }, [
                sasl,
                {mnesia, load},
                cowboy,
                lager,
                inets,
                jiffy,
                chat
        ]},

        {sys_config, "./config/sys.config.devel"},
        {vm_args,    "./config/vm.args.devel"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {sys_config, "./config/sys.config"},
                            {vm_args,    "./config/vm.args"},
                            {include_src, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [rebar3_run]}.