[
  {chat, [
    {recapcha_secret, "${RECAPCHA_SECRET}"},
    {mnesia_base_dir, "/data/chaterl/mnesia/"},
    {domain,          "${DOMAIN}"}
  ]},

  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [{level, info},
                               {formatter, lager_default_formatter},
                               {formatter_config, ["[",severity,"]",pid, " ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]}
  ]}

].
