[
  {chat, [
    {recapcha_secret, "${RECAPCHA_SECRET}"},
    {mnesia_base_dir, "/data/chaterl/mnesia/"}
  ]},

  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [{level, info},
                               {formatter, lager_default_formatter},
                               {formatter_config, ["[",severity,"]",pid, " ", message, "\n"]}
      ]}
    ]}
  ]}

].
